.footer {
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #040E27;
    position: relative;
    z-index: 0;
}
  
/* line 9, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top {
    padding-top: 115px;
    padding-bottom: 129px;
}
  
@media (max-width: 767px) {
    /* line 9, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
    .footer .footer_top {
      padding-top: 60px;
      padding-bottom: 30px;
    }
}
  
@media (max-width: 767px) {
    /* line 16, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget {
      margin-bottom: 30px;
    }
}
  
@media (min-width: 768px) and (max-width: 991px) {
    /* line 16, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget {
      margin-bottom: 30px;
    }
}
  
/* line 23, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget {
    position: relative;
    top: -14px;
}
  
/* line 27, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget {
    width: 50%;
    float: left;
}
  
/* line 33, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_title {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 45px;
    font-family: "Rubik", sans-serif;
}
  
@media (max-width: 767px) {
    /* line 33, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget .footer_title {
      margin-bottom: 20px;
    }
}
  
/* line 44, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_logo {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
}
  
@media (max-width: 767px) {
    /* line 44, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget .footer_logo {
      margin-bottom: 20px;
    }
}
  
/* line 54, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p {
    color: #AAB1B7;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #AAB1B7;
}
  
/* line 61, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p a {
    color: #AAB1B7;
}
  
/* line 63, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p a:hover {
    color: #FF4A52;
}
  
/* line 69, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text {
    font-size: 16px;
    color: #B2B2B2;
    margin-bottom: 23px;
    font-weight: 400;
    line-height: 26px;
}
  
/* line 75, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text a.domain {
    color: #B2B2B2;
    font-weight: 400;
}
  
/* line 78, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text a.domain:hover {
    color: #FF4A52;
    border-bottom: 1px solid #FF4A52;
}
  
/* line 84, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a {
    font-weight: 500;
    color: #B2B2B2;
}
  
/* line 88, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
    color: #FF4A52;
    border-bottom: 1px solid #FF4A52;
}
  
/* line 92, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a.first {
    margin-bottom: 10px;
}
  
/* line 100, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li {
    color: #ACACAC;
    font-size: 14px;
    line-height: 36px;
}
  
/* line 104, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a {
    color: #AAB1B7;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
}
  
/* line 108, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a:hover {
    color: #FF4A52;
}
  
/* line 114, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form {
    position: relative;
    margin-bottom: 20px;
}
  
/* line 117, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input {
    width: 100%;
    height: 50px;
    background: #F5FBFF;
    padding-left: 20px;
    font-size: 15px;
    color: #000;
    border: none;
    border: 1px solid #E8E8E8;
    border-radius: 30px;
    font-family: "Rubik", sans-serif;
    padding-right: 120px;
}
  
/* line 129, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input::placeholder {
    font-size: 15px;
    color: #AAB1B7;
}
  
/* line 133, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input:focus {
    outline: none;
}
  
/* line 137, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background: #FF4A52;
    padding: 10px;
    padding: 0 22px;
    cursor: pointer;
    border-radius: 30px;
    top: 5px;
    right: 5px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
}
  
/* line 157, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_text {
    font-size: 14px;
    color: #AAB1B7;
    line-height: 26px;
    font-family: "Rubik", sans-serif;
}
  
/* line 163, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget {
    margin: -7.5px -7.5px 0 -7.5px;
}
  
/* line 165, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget {
    width: 33.33%;
    float: left;
    padding: 7.5px;
    overflow: hidden;
}
  
/* line 171, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
  
/* line 179, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .copy-right_text {
    padding-bottom: 26px;
}
  
/* line 181, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .copy-right_text .footer_border {
    border-top: 1px solid #363E52;
    padding-bottom: 26px;
}
  
/* line 185, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right {
    font-size: 14px;
    color: #7A838B;
    margin-bottom: 0;
    font-weight: 400;
}
  
@media (max-width: 767px) {
    /* line 185, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
    .footer .copy-right_text .copy_right {
      font-size: 14px;
    }
}
  
/* line 193, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right a {
    color: #FF4A52;
}
  
/* line 198, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .socail_links {
    margin-top: 47px;
}
  
@media (max-width: 767px) {
    /* line 198, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
    .footer .socail_links {
      margin-top: 30px;
    }
}
  
/* line 204, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .socail_links ul li {
    display: inline;
}
  
/* line 207, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .socail_links ul li a {
    font-size: 15px;
    color: #C3B2F0;
    width: 30px;
    display: inline;
    text-align: center;
    background: transparent;
    margin-right: 7px;
    color: #FFFFFF;
    line-height: 40px !important;
    color: #E8E8E8;
}
  
/* line 222, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .socail_links ul li a:hover {
    color: #FF4A52 !important;
    border-color: transparent;
}
  