/*====================================IMAGE SIZES=======================================*/
#logo_navbar {
    width: 150px;
    height: auto;
}

.img-thumb{
    height:150px;
    width:auto;
}

.img-autocomplete{
    height:30px;
    width:auto;
}
/*====================================IMAGE SIZES=======================================*/

/*======================================GALERIA=========================================*/
.div-img-destaque {
    cursor: pointer;
    color: #cccccc;
    border: 3px solid #dcdedc;
    border-radius: 10px;
}

.div-galeria {
    width: auto;
    padding: 25px;
    display: flex;
    background-color: #fcfdff;
    border: 3px solid #dcdedc;
    border-radius: 10px;
}

.max-height-galeria{
    max-height: 300px;
    overflow-y: auto;
}

.card-img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.img-home-galeria{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 30px;
}
/*======================================GALERIA=========================================*/
