/*========================================RESET============================================*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    position: relative;
}

main {
    overflow: auto;
    min-height: calc(100vh - 83.58px - 184px);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #dddddd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #dddddd;
}
/*========================================RESET============================================*/

/*========================================HELPERS==========================================*/
.autocomplete:hover{
    background-color: #424242;
    color: #fff;
    cursor: pointer;
}

.total_vh{
    height: 100vh;
}

.cursor-pointer{
    cursor: pointer;
}

.nav-link {
    color: #000;
}

.nav-link:hover{
    color: #1EC6B6;
}
/*========================================HELPERS==========================================*/

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-area{
    position: relative;
    text-align: center;
    color: white;
}

.btn-outline-navbar {
    color: #000;
    border-color: #000;
}

.btn-outline-navbar:hover {
    color: #fff;
    background-color: #1EC6B6;
    border-color: #38c172;
}

.slideshow-height{
    min-height: 300px;
    object-fit: cover;
}
